<% include ./partials/headernav.ejs %>

<div id='formbx'>
    <input type="text" style='border: 2px solid #46accf; border-radius: 10px; margin:1% 0%;' id='titlein' placeholder='Title'><br>
    <input type="text" style='border: 2px solid #46accf; border-radius: 10px;' id='descriptionin' placeholder='Description'>
    <div id='formcontent' style="margin: 1.5%; color:#46accf ">
        <span id='addques' class="btn btn-danger" style='border-radius:10px'>Add a Question</span> <i  class="fas fa-plus-circle" id="plussign"></i><br>
        <span class="numhead">1</span><input style='margin: 2%; border: 2px solid #46accf; border-radius: 10px;' placeholder="question 1" type="text" id="qnum1">  
    </div>
</div>

<div id='quesbx' style="border-radius: 10px">
    <div id="inques" >
<h3>How would you like your answer to be:</h3>
<input type="radio" name="choice" id="chtxtbx">Text box
<input type="radio" name="choice" id="chemailbx">Number
<input type="radio" name="choice" id="chradiobtn">Radio buttons
<input type="radio" name="choice" id="chcheckbx">Checkbox
<button id='submitbtn' class="btn btn-danger ml-1" >Submit</button>
    </div>
    <div id='objects' >
<h3 id='prompt'>This is how its gonna look</h3>
<input type="text" id="txtfinal" placeholder='text' >
<input type="number"id="emailfinal" placeholder="Number">
<input type="radio" id='radioin1' name='optchrd'> <input type="text" id="radionm1" placeholder="enter opt name"><i class="fas fa-plus-circle" id="plussignrd"></i>
<input type="checkbox" id='checkbxin1' name='optchcheck'><input type="text" id="checkbxnm1" placeholder="enter opt name"><i class="fas fa-plus-circle" id="plussignch"></i>
    </div>
    <span id='randd'></span>
</div>

<script>
const formBx = document.querySelector(`#formbx`);
      formContent = document.querySelector(`#formcontent`),
      chTxtBx = document.querySelector(`#chtxtbx`),
      chEmailBx = document.querySelector(`#chemailbx`),
      chRadioBtn = document.querySelector(`#chradiobtn`),
      chCheckBx = document.querySelector(`#chcheckbx`),
      txtFinal = document.querySelector('#txtfinal'),
      emailFinal = document.querySelector('#emailfinal'),
      radioIn = document.querySelector('#radioin1'),
      radioNm1 = document.querySelector('#radionm1'),
      plusSignRd = document.querySelector('#plussignrd'),
      checkBxIn = document.querySelector('#checkbxin1'),
      checkBxNm1 = document.querySelector('#checkbxnm1'),
      plusSignCh = document.querySelector('#plussignch'),
      objects = document.querySelector(`#objects`),
      submitBtn = document.querySelector(`#submitbtn`),
      rAndD = document.querySelector(`#randd`),
      plusSign = document.querySelector(`#plussign`),
      qNum1 = document.querySelector(`#qnum1`),
      titleIn = document.querySelector('#titlein'),
      descriptionIn = document.querySelector(`#descriptionin`),
      quesBx = document.querySelector(`#quesbx`),
      prompt = document.querySelector(`#prompt`),
      addQues = document.querySelector(`#addques`);

var radiooptcount = 1,
    checkbxoptcount = 1,
    valueChoosen,
    questionNumber = 1; 
    
let titledes;


function handleRequest(){
    if(this.readyState==4 && this.status==200){
        console.log('data-saved');
    }
}
let request = new XMLHttpRequest();
request.onreadystatechange  =  handleRequest;
request.open(`POST`, `/postfmcont`, true);
request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");


titleIn.addEventListener(`keydown`, (event)=>{
if(event.which==13){
titledes = `<h3>Title: ${titleIn.value}</h3>`;
}
});

descriptionIn.addEventListener(`keydown`, (event)=>{
if(event.which==13){
titledes += `<h3>Description: ${descriptionIn.value}</h3>` 
titleIn.style.display = `none`;    
descriptionIn.style.display = `none`;
formContent.insertAdjacentHTML(`afterbegin`,titledes);
}
});

chTxtBx.addEventListener(`click`, ()=>{
    prompt.style.display = 'block';
    emailFinal.style.display = `none`;
    radioIn.style.display = `none`;
    radioNm1.style.display = `none`;
    plusSignRd.style.display = `none`;
    checkBxIn.style.display = `none`;
    checkBxNm1.style.display = `none`;
    plusSignCh.style.display = `none`;
    txtFinal.style.display = `inline`;
    valueChoosen = 1;
});

chEmailBx.addEventListener(`click`, ()=>{
    prompt.style.display = 'block';
    radioIn.style.display = `none`;
    radioNm1.style.display = `none`;
    plusSignRd.style.display = `none`;
    checkBxIn.style.display = `none`;
    checkBxNm1.style.display = `none`;
    plusSignCh.style.display = `none`;
    txtFinal.style.display = `none`;
    emailFinal.style.display = `inline`;
    valueChoosen = 2;
});

chRadioBtn.addEventListener(`click`, ()=>{
    prompt.style.display = 'block';
    checkBxIn.style.display = `none`;
    checkBxNm1.style.display = `none`;
    plusSignCh.style.display = `none`;
    txtFinal.style.display = `none`;
    emailFinal.style.display = `none`;
    radioIn.style.display = `inline-block`;
    radioNm1.style.display = `inline-block`;
    plusSignRd.style.display = `inline`;
    valueChoosen = 3;
});

chCheckBx.addEventListener(`click`, ()=>{
    prompt.style.display = 'block';
    txtFinal.style.display = `none`;
    emailFinal.style.display = `none`;
    radioIn.style.display = `none`;
    radioNm1.style.display = `none`;
    plusSignRd.style.display = `none`;
    checkBxIn.style.display = `inline-block`;
    checkBxNm1.style.display = `inline-block`;
    plusSignCh.style.display = `inline`;
    valueChoosen = 4;
});

plusSignRd.addEventListener(`click`, ()=>{
        radiooptcount+=1;
        objects.insertAdjacentHTML(`beforeend`, `<br class='br${questionNumber}${radiooptcount}'><input type='radio' name='optchrd' id='radioin${questionNumber}${radiooptcount}'><input type='text' placeholder='enter opt name' id='radionm${questionNumber}${radiooptcount}'>`);
    });

plusSignCh.addEventListener(`click`, ()=>{
        checkbxoptcount+=1;    
        objects.insertAdjacentHTML(`beforeend`, `<br class='br${questionNumber}${checkbxoptcount}'><input type='checkbox' name='optchcheck' id='checkbxin${questionNumber}${checkbxoptcount}'><input type='text' placeholder='enter opt name' id='checkbxnm${questionNumber}${checkbxoptcount}'>`);
        });

submitBtn.addEventListener(`click`, ()=>{
    
    if(valueChoosen==1){
      let qreq = document.querySelector(`#qNum${questionNumber}`);
      formContent.insertAdjacentHTML(`beforeend`, `<br><input type="text" style='margin: 2%; border: 2px solid #46accf; border-radius: 10px;'  name='q${questionNumber}' placeholder='text' ><button id='done${questionNumber}' class='btn btn-danger' style='display: block' >Are you done</button>`);
      document.querySelector(`#done${questionNumber}`).addEventListener(`click`, ()=>{
      addQues.style.display = `none`;
      plusSign.style.display = `none`;
      document.querySelector(`#done${questionNumber}`).style.display = `none`;
      formContent.insertAdjacentHTML(`beforeend`, `<button type='submit' id='subbtnfinallocal' style='display: block;' class='btn btn-danger' >You sure</button>`);
      document.querySelector(`#subbtnfinallocal`).addEventListener('click', ()=>{
      request.send(`data=${formContent.innerHTML}&questionno=${questionNumber}&databasename=form<%=user[0].id%><%=user[0].forms%>&title=${titleIn.value}&description=${descriptionIn.value}`);
      formContent.insertAdjacentHTML('afterend', `<h1  style='color: #46accf;'>The Url is localhost:3000/<%=user[0].id%>/<%=user[0].forms%>/form</h1>`);
      });
     });
     txtFinal.style.display = `none`;
     quesBx.style.display = `none`;
     prompt.style.display = 'none';
     formContent.style.display = `block`;
    }
    
    if(valueChoosen==2){
        let qreq = document.querySelector(`#qNum${questionNumber}`);
        formContent.insertAdjacentHTML(`beforeend`,`<br><input type="number" style='margin: 2%; border: 2px solid #46accf; border-radius: 10px;' name='q${questionNumber}' placeholder="Number"><button id='done${questionNumber}' style='display: block' class='btn btn-danger' >Are you done</button>`);
        document.querySelector(`#done${questionNumber}`).addEventListener(`click`, ()=>{
        addQues.style.display = `none`;
        plusSign.style.display = `none`;
        document.querySelector(`#done${questionNumber}`).style.display = `none`;
        formContent.insertAdjacentHTML(`beforeend`, `<button type='submit' id='subbtnfinallocal' style='display: block' class='btn btn-danger' >You sure</button>`);
        document.querySelector(`#subbtnfinallocal`).addEventListener('click', ()=>{
        request.send(`data=${formContent.innerHTML}&questionno=${questionNumber}&databasename=form<%=user[0].id%><%=user[0].forms%>&title=${titleIn.value}&description=${descriptionIn.value}`);
        formContent.insertAdjacentHTML('afterend', `<h1  style='color: #46accf;'>The Url is localhost:3000/<%=user[0].id%>/<%=user[0].forms%>/form</h1>`);
    });
        });
        emailFinal.style.display = `none`;
        quesBx.style.display = `none`;
        formContent.style.display = `block`;
        prompt.style.display = 'none';
    }

    if(valueChoosen==3){
        var optnm='';
        let qreq = document.querySelector(`#qNum${questionNumber}`);
        rAndD.insertAdjacentHTML(`beforeend`,`<input type='radio' style='margin: 2%; border: 2px solid #46accf; border-radius: 10px;' name='q${questionNumber}' value='${radioNm1.value}'><span>${radioNm1.value}</span><br>`); 
        radioIn.style.display = `none`;
        radioNm1.style.display = `none`;
        plusSignRd.style.display = `none`;
        for( var i=2;i<=radiooptcount;++i){
             optnm  = document.querySelector(`#radionm${questionNumber}${i}`).value;
             document.querySelector(`#radioin${questionNumber}${i}`).style.display = `none`;
             document.querySelector(`#radionm${questionNumber}${i}`).style.display = `none`;
             document.querySelector(`.br${questionNumber}${i}`).style.display = `none`;
            rAndD.insertAdjacentHTML(`beforeend`, `<input type='radio' style='margin: 2%; border: 2px solid #46accf; border-radius: 10px;' name='q${questionNumber}' value='${optnm}'><span>${optnm}</span><br>`)
        }
    formContent.insertAdjacentHTML(`beforeend`, `<br>${rAndD.innerHTML}<button id='done${questionNumber}' style='display: block'  class='btn btn-danger'>Are you done</button>`);
    document.querySelector(`#done${questionNumber}`).addEventListener(`click`, ()=>{
    addQues.style.display = `none`;
    plusSign.style.display = `none`;
    document.querySelector(`#done${questionNumber}`).style.display = `none`;
    formContent.insertAdjacentHTML(`beforeend`, `<button type='submit' id='subbtnfinallocal' style='display: block'  class='btn btn-danger'>You Sure</button>`);
    document.querySelector(`#subbtnfinallocal`).addEventListener('click', ()=>{
    request.send(`data=${formContent.innerHTML}&questionno=${questionNumber}&databasename=form<%=user[0].id%><%=user[0].forms%>&title=${titleIn.value}&description=${descriptionIn.value}`);
    formContent.insertAdjacentHTML('afterend', `<h1  style='color: #46accf;'>The Url is localhost:3000/<%=user[0].id%>/<%=user[0].forms%>/form</h1>`);
    });
   });
    rAndD.innerHTML = '';
    radiooptcount = 1;
    quesBx.style.display = `none`;
    formContent.style.display = `block`;
    prompt.style.display = 'none';
   }
    
    if(valueChoosen==4){
        var optnm
        let qreq = document.querySelector(`#qNum${questionNumber}`);
        rAndD.insertAdjacentHTML(`beforeend`, `<input type='checkbox' name='q${questionNumber}' style='margin: 2%; border: 2px solid #46accf; border-radius: 10px;' value='${checkBxNm1.value}'><span>${checkBxNm1.value}</span><br>`)
        checkBxIn.style.display = `none`;
        checkBxNm1.style.display = `none`;
        plusSignCh.style.display = `none`;
        for( var j= 2;j<=checkbxoptcount;++j){
            optnm  = document.querySelector(`#checkbxnm${questionNumber}${j}`).value;
             document.querySelector(`#checkbxin${questionNumber}${j}`).style.display = `none`;
             document.querySelector(`#checkbxnm${questionNumber}${j}`).style.display = `none`;
             document.querySelector(`.br${questionNumber}${j}`).style.display = `none`;
            rAndD.insertAdjacentHTML(`beforeend`, `<input type='checkbox' name='q${questionNumber}' style='margin: 2%; border: 2px solid #46accf; border-radius: 10px;' value='${optnm}'><span>${optnm}</span><br>`)
        }
    formContent.insertAdjacentHTML(`beforeend`, `<br>${rAndD.innerHTML}<button id='done${questionNumber}' style='display: block' class='btn btn-danger' >Are you done</button>`);
    document.querySelector(`#done${questionNumber}`).addEventListener(`click`, ()=>{
    addQues.style.display = `none`;
    plusSign.style.display = `none`;
    document.querySelector(`#done${questionNumber}`).style.display = `none`;
    formContent.insertAdjacentHTML(`beforeend`, `<button type='submit' id='subbtnfinallocal' style='display: block'  class='btn btn-danger' >You sure</button>`);
    document.querySelector(`#subbtnfinallocal`).addEventListener('click', ()=>{
    request.send(`data=${formContent.innerHTML}&questionno=${questionNumber}&databasename=form<%=user[0].id%><%=user[0].forms%>&title=${titleIn.value}&description=${descriptionIn.value}`);
    formContent.insertAdjacentHTML('afterend', `<h1 style='color: #46accf;'>The Url is localhost:3000/<%=user[0].id%>/<%=user[0].forms%>/form</h1>`);
    });
    });
    rAndD.innerHTML = '';
    checkbxoptcount = 1;
    quesBx.style.display = `none`;
    formContent.style.display = `block`;
    prompt.style.display = 'none';
    }
});

plusSign.addEventListener(`click`, ()=>{
document.querySelector(`#done${questionNumber}`).style.display = `none`;
questionNumber+=1;
formContent.insertAdjacentHTML(`beforeend`, `<br><span class='numhead'>${questionNumber}</span><input type='text' style='margin: 2%; border: 2px solid #46accf; border-radius: 10px;' id='qnum${questionNumber}'>`);
this.qDom = document.querySelector(`#qnum${questionNumber}`);
qDom.addEventListener(`keydown`, (event)=>{
    if(event.which==13)
{
    formContent.insertAdjacentHTML(`beforeend`, `<span style='margin-top: 5%; margin-left: 2%; display: inline-block;' id='qnum${questionNumber}p'>${qDom.value}</span>`);
    qDom.style.display = `none`;
    formContent.style.display = `none`;
    quesBx.style.display = `block`;
    }
});
});

qNum1.addEventListener(`keydown`, (event)=>{
if(event.which==13)
{
   formContent.insertAdjacentHTML(`beforeend`, `<span style='margin-top: 5%; margin-left: 2%; display: inline-block;' id='qnum${questionNumber}p'>${qNum1.value}</span>`);
    qNum1.style.display = `none`;
    formContent.style.display = `none`;
    quesBx.style.display = `block`;
}
});
</script>

<% include ./partials/footer.ejs %> 
